* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  box-sizing: border-box;
}

body {
  padding: 10px;
}

ul {
  list-style: none;
}

h2 {
  font-size: 12px;
  color: #333;
}

.focus {
  background: #eee;
}

span {
  font-size: 12px;
  color: #333;
}

.object-key {
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
}

.object-value.type-value {
  display: inline-block;
}

.collapse-open,.collapse-close {
  cursor: pointer;
}

.collapse-open + * > ul {
  display: block;
}

.collapse-close + * > ul {
  display: none;
}

.collapse-close + * .space{
  display: none;
}

.collapse-open:before, .collapse-close:before {
  color: #ccc;
  border: 1px solid #eee;
  display: inline-block;
  padding: 0 1px;
  margin-right: 2px;
  line-height: 10px;
  margin-left: -12px;
}

.collapse-open:before {
  content: '-';
}

.collapse-close:before {
  content: '+';
}

.object-value.type-value .value {
  display: inline-block;
}

.space {
  width: 15px;
  display: inline-block;
}

.value {
  margin-left: 0;
}

.value-type-number, .value-type-boolean {
  color: brown;
}

.value-type-string {
  color: green;
}

.bracket {
  display: inline-block;
}

#viewer {
  margin-left: 180px;
  min-width: 800px;
}

#nav {
  position: fixed;
  left: 0;
  top: 10px;
  background: rgba(256, 256, 256, 0.8);
  padding: 10px 5px;
  padding-top: 0;
  padding-bottom: 20px;
  border-right: 1px solid #eee;
  width: 180px;
  height: 100%;
  overflow: scroll;
}

#nav a {
  color: #333;
  display: block;
  padding: 2px 5px;
  text-decoration: none;
}

#nav a:hover {
  background: #f5f5f5;
}
#nav a.active {
  background: #eee;
}

#history span {
  position: fixed;
  width: 5px;
  height: 5px;
  background: red;
}

#nav .level-0 {
  padding-left: 0;
  margin-left: 0;
  margin-top: 3px;
  display: block;
}

#nav .level-0:first-of-type {
  margin-top: 0;
}

#nav .level-0 {
  font-weight: bold;
}

#nav .level-1 {
  padding-left: 10px;
  margin-left: 0;
  display: block;
}

#nav .level-2 {
  padding-left: 15px;
  margin-left: 0;
  display: block;
  font-size: 10px;
}

#nav .level-2 a {
  color: #999;
}

#nav .level-2 a:before {
  content: '-';
  margin-right: 3px;
  color: #999;
}

button {
  padding: 5px;
  border-radius: 3px;
  background: white;
}

#form form {
  position: fixed;
  top: 200px;
  left: 220px;
  width: 500px;
  padding: 15px;
  box-shadow: 0 4px 15px 0px rgba(0,0,0,0.5);
  background: white;
  max-height: 800px;
  overflow: scroll;
}

#form h2 {
  margin-bottom: 15px;
}

#form label {
  margin-right: 10px;
  min-width: 120px;
  display: inline-block;
}

#form input {
  margin-bottom: 5px;
  padding: 5px;
}

#form .close-form {
  font-size: 3rem;
  float: right;
  color: #ccc;
  text-decoration: none;
  line-height: 35px;
  margin-right: -15px;
  margin-top: -8px;
  padding: 0 10px;
}

#form .form-result {
  padding: 5px;
  margin-top: 10px;
  background: #eee;
  max-height: 100px;
  overflow: scroll;
}